<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/styleespaceapprenties.css">
    <title>Espace apprenties</title>
</head>
<body>
    <a href="https://www.promeo-formation.fr/" target="_blank"> <img src="/static/img/promeo.png"> </a>
    <ul class="menu">
        <li><a href="/" class="actif">Accueil</a></li>
        <li><a href="centres.jinja"class="actif">Centres</a></li>
        <li><a href="connectformateurs.jinja" class="actif">Espace apprenties</a></li>
    </ul>
    <h1>Bienvenue sur votre espace apprenties</h1>
    
    <form action="/logout" method="get">
        <button type="submit">Se déconnecter</button>
    </form>

    <footer>
        <center><p class="copyright">2024 © Copyright POLIZSUK & VANDAMME</p></center>
    </footer>
    
    </body>
</html>